body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url("../img/pawns.svg");
  background-repeat: repeat-x;
  background-position: top;
  font-family: 'Lexend', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-login {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.padding-all-100px {
  padding: 100px;
}

.olivia-text-logo {
  font-family: 'Dancing Script', cursive;
}
button.btn-olivia-color { background-color: #fcdae2; color:#90908c; }
button:hover.btn-olivia-color { background-color: #f2e5bc; }
.font-size-20px { font-size: 20px; font-weight: 400; }

a:link.ralfdba { text-decoration: none; color: #f686a0; }
a:hover.ralfdba { text-decoration: none; color: #d4ab22; }